html, body {
  font-family: 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
  color: #FFFFFF;
  height: 100%;
}

h3 {
  font-size: 36px;
}

h5 {
  font-size: 14px;
}

p {
  font-family: Georgia;
  line-height: 1.5;
}

#header-container {
  background-image: url("../assets/bk_manhattan_bridge.jpg");
  background-size: cover;
  height: 100vh;
}

#container-mask {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  height: 100vh;
  min-height: 650px;
}

nav {
  text-align: right;
  padding: 80px 80px 0 0;
}

nav a  {
  text-decoration: none;
  padding-left: 10px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #FFFFFF;
}

nav a:hover {
  color: #A7A9AC;
  cursor: pointer;
}

span.dot-divider {
  margin-left: 14px;
  color: #FFFFFF;
}

li  {
  display: inline;
}

#introduction {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
  padding-top: 14%;
}

hr {
  width: 100px;
}

#arrow-centering{
  position: absolute;
  bottom: 0%;
  left: 48.5%;
  margin-bottom: 3px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}

.arrow-down:hover {
  cursor: pointer;
  border-top: 20px solid lightgray;
}

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

#my-story-container {
  height: 100%;
  width: 100%;
  background-color: #29293D;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#my-story {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  text-align: center;
  padding-top: 8%;
}

#my-work-container {
  height: 100%;
  width: 100%;
  background-color: #2C2C2F;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#my-work {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  padding-top: 13%;
  line-height: 1.2;
}

img {
  width: 200px;
  height: 160px;
  border: 2px solid #eee;
}

img:hover {
  opacity: 0.5;
}

#work-items {
  text-align: left;
  margin-top: 20px;
}

#contact-container {
  height: 100%;
  width: 100%;
  background-image: url("../assets/biggie.jpg");
  background-size: cover;
}

#contact-container-mask {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#contact {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  text-align: center;
  padding-top: 20%;
}

#contact a{
  color: #eee;
}

.fa {
  padding: 10px;
}
